<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DrugWars.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DrugWars.Wpf.Properties.Settings>
            <setting name="IsMusicEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AreSoundEffectsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EffectsVolume" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="IsFullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferredExpansion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Retro (Green/Black)</value>
            </setting>
        </DrugWars.Wpf.Properties.Settings>
    </userSettings>
</configuration>