# Visual Studio files
.vs/
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet Packages
*.nupkg
**/packages/*
*.lock.json

# User-specific files
*.user
*.userosscache
*.sln.docstates

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Log files
*.log

# Other
.DS_Store
Thumbs.db 